@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');
:root {
  font-family: Open-Sans, Avenir, Helvetica, Arial, sans-serif;
 
--black-coral: hsla(213, 23%, 39%, 1);
--black-coral-1: hsla(213, 23%, 57%, 1);
--black-coral-2: hsla(213, 23%, 32%, 1);
--black-coral-3: hsla(213, 23%, 22%, 1);
--white-coral-1: hsla(213, 23%, 90%, 1);
--indigo-dye: hsl(209, 77%, 23%);
--indigo-dye-1: hsl(209, 77%, 50%);
--indigo-dye-2: hsl(209, 77%, 35%);
--indigo-dye-3: hsl(209, 77%, 60%);
--indigo-dye-4: hsl(209, 77%, 75%);
--indigo-dye-5: hsla(209, 77%, 60%, 0.45);
--lemon-meringue: hsl(48, 82%, 89%);
--orange-yellow-crayola: hsl(47, 87%, 66%);
--orange-yellow-crayola-1: hsl(47, 87%, 80%);
--sandy-brown: hsl(28, 83%, 61%);
--sandy-brown-2: hsl(28, 83%, 81%);
--sandy-brown-3: hsla(28, 83%, 81%, 0.45);
--orange-soda: hsl(10, 94%, 60%);

--backgrond-color: var(--black-coral);
--font-color:  var(--white-coral-1);
--axis-labels-font-weight:400

}

body{
  background-color: var(--backgrond-color);
  color: var(--font-color);
  /* font-family:"Inter", Helvetica, sans-serif; */
}

