@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
 
--black-coral: hsla(213, 23%, 39%, 1);
--black-coral-1: hsla(213, 23%, 57%, 1);
--white-coral-1: hsla(213, 23%, 90%, 1);
--indigo-dye: hsl(209, 77%, 23%);
--indigo-dye-1: hsl(209, 77%, 50%);
--indigo-dye-2: hsl(209, 77%, 35%);
--lemon-meringue: hsl(48, 82%, 89%);
--orange-yellow-crayola: hsl(47, 87%, 66%);
--orange-yellow-crayola-1: hsl(47, 87%, 80%);
--sandy-brown: hsl(28, 83%, 61%);
--orange-soda: hsl(10, 94%, 60%);

--backgrond-color: var(--black-coral);
--font-color:  var(--white-coral-1);

}

body{
  background-color: var(--backgrond-color);
  color: var(--font-color);
  font-family:"Inter", Helvetica, sans-serif;
}

